{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{#author}}
    <div class="cover author-cover">
        <div class="avatar-wrap">
            {{#if image}}<img src="{{image}}" alt="Author image" class="avatar">
            {{else}}<img src="/shared/img/user-image.png" alt="Author image" class="avatar">{{/if}}
        </div>
        <h3 class="author-name">
            {{name}}
        </h3>
        <div class="meta-info">
            <span class="post-count"><i class="fa fa-pencil-square-o"></i>{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
            {{#if location}}<span class="loaction"><i class="fa fa-map-marker"></i>{{location}}</span>{{/if}}
            {{#if website}}<span class="website"><i class="fa fa-globe"></i><a href="{{website}}" targer="_BLANK">Website</a></span>{{/if}}
        </div>
        {{#if bio}}<div class="bio">{{bio}}</div>{{/if}}
    </div>
{{/author}}

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
