<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="keywords" content="{{meta_keywords}}">
    <meta name="google-site-verification" content="OnIw0M_9GbJjETSGfsugcHPg4yLFhDnMiI4gu-0YJ3U" />
    <meta name="baidu-site-verification" content="OPRni7k9YF" />
    <meta name="msvalidate.01" content="F02D68813AD393CFE9FC73C0555FF8AE" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
    <link rel="apple-touch-icon" href="{{asset "images/apple-touch-icon.png"}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset "images/apple-touch-icon-72x72.png"}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset "images/apple-touch-icon-114x114.png"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">
    <link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">

    <link rel="stylesheet" href="{{asset "css/screen.css"}}">

    <script>
    /*====================================================
      THEME SETTINGS & GLOBAL VARIABLES
    ====================================================*/
    //  Sidebar Position
    var sidebar_left = false; // Set true or flase for positioning sidebar on left

    </script>
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    
    <!--header-->
    <header class="main-header" id="site-head">
        <div id="top" class="vertical">
            <div id="site-head-content" class="inner row">
                <div class="col-md-9">
                    <div class="site-description">
                        <h1 class="blog-title">{{@blog.title}}</h1>
                        <h2 class="blog-description">{{@blog.description}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--header end-->
    
    <!-- start navigation -->
    <nav class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/archives/">Archives</a></li>
                            <li><a href="{{asset "resume/index.html"}}" target="_blank">Resume</a></li>
                            <!--<li><a href="/about/">About</a></li>-->
                            <li><a href="/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navigation -->

    <!-- start site's main content area -->
    <section class="content-wrap">
        <div class="container">
            <div class="row">
                <!-- start main post area -->
                <div class="col-md-8 main-content">
                    {{! Everything else gets inserted here }}
                    {{{body}}}
                </div>
                <!-- start sidebar -->
                <aside class="col-md-4 sidebar">
                    <!-- start widget -->
                    <div class="widget">
                        <h4 class="title">Recent Posts</h4>
                        {{recent_posts}}
                    </div>
                    <!-- end widget -->
                    <!-- start tag cloud widget -->
                    <div class="widget">
                        <h4 class="title">Tags</h4>
                        {{!-- <div class="content tag-cloud"></div> --}}
                        {{tag_cloud limit=20}}
                    </div>
                    <!-- end tag cloud widget -->
                    <!-- start widget -->
                    <div class="widget">
                        <h4 class="title">Follow</h4>
                        <div class="content">
                          <ul class="social">
                            <li><a href="http://weibo.com/wlliu1990"><i class="fa fa-weibo"></i></a></li>
                            <li><a href="https://github.com/superlin"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://twitter.com/superlin1990"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="/rss"><i class="fa fa-rss"></i></a></li>
                          </ul>
                        </div>
                    </div>
                    <!-- end widget -->
                </aside>
                <!-- end sidebar -->
            </div>
        </div>
        
        <!--setting panel-->
        <div id="setting_panel">
            <a href="" id="setting_panel_toggle"><i class="fa fa-tint"></i></a>
            <div id="picker_holder"></div>
            <a class="dp-button dfc-bt" id="default_color">Default Color</a>
            <a class="dp-button sb-bt" id="left_sb">Sidebar Left</a>
            <a class="dp-button sb-bt active" id="right_sb">Sidebar Right</a>
        </div>
    </section>

    <!-- start main-footer -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <!-- start first footer widget area -->
                <div class="col-sm-4">
                    <!-- start widget -->
                    <div class="widget">
                        <h4 class="title">Recent Posts</h4>
                        {{recent_posts limit=4}}
                    </div>
                    <!-- end widget -->
                </div>
                <!-- end first footer widget area -->
                <!-- start second footer widget area -->
                <div class="col-sm-4">
                    <!-- start tag cloud widget -->
                    <div class="widget">
                        <h4 class="title">Tags</h4>
                        {{tag_cloud limit=20}}
                    </div>
                    <!-- end tag cloud widget -->
                </div>
                <!-- end second footer widget area -->
                <!-- start third footer widget area -->
                <div class="col-sm-4">
                    <!-- start widget -->
                    <div class="widget">
                        <h4 class="title">Links</h4>
                        <div class="content tag-cloud">
                            <a href="http://www.smashingmagazine.com/" title="Smashing Magazine" target="_blank">Smashing</a>
                            <a href="http://www.html5rocks.com/zh/" title="Html5rocks" target="_blank">Html5rocks</a>
                            <a href="https://css-tricks.com/" title="CSS Tricks" target="_blank">CSS Tricks</a>
                            <a href="http://blog.teamtreehouse.com/" title="Treehouse" target="_blank">Treehouse</a>
                            <a href="http://tutsplus.com/" title="Tuts Plus" target="_blank">Tuts+</a>
                            <a href="http://tutorialzine.com/" title="Tutorialzine" target="_blank">Tutorialzine</a>
                            <a href="http://dailyjs.com/" title="Dailyjs" target="_blank">Dailyjs</a>
                            <a href="http://www.nczonline.net/" title="NCZonline" target="_blank">NCZonline</a>
                            <a href="http://www.paulirish.com/" title="Paul Irish" target="_blank">Paul Irish</a>
                            <a href="http://www.script-tutorials.com/" title="Script Tutorials" target="_blank">Script Tutorials</a>
                            <a href="http://blog.codepen.io/" title="Codepen" target="_blank">Codepen</a>
                            <a href="http://www.infoq.com/cn/" title="InfoQ" target="_blank">InfoQ</a>
                            <hr>
                            <a href="http://www.w3cplus.com/" title="W3Cplus" target="_blank">W3C+</a>
                            <a href="http://www.w3cfuns.com/" title="W3Cfuns" target="_blank">W3Cfuns</a>
                            <a href="http://www.w3ctech.com/" title="W3Ctech" target="_blank">W3Ctech</a>
                            <a href="http://segmentfault.com/blogs" title="Segmentfault" target="_blank">SF.GG</a>
                            <a href="http://www.qianduan.net/" title="前端观察" target="_blank">前端观察</a>
                            <a href="https://cnodejs.org/" title="CNode" target="_blank">CNode</a>
                            <a href="http://efe.baidu.com/" title="百度EFE" target="_blank">EFE</a>
                            <a href="http://fex.baidu.com/" title="百度FEX" target="_blank">FEX</a>
                            <a href="http://isux.tencent.com/" title="腾讯ISUX" target="_blank">ISUX</a>
                            <a href="http://www.alloyteam.com/" title="AlloyTeam" target="_blank">AlloyTeam</a>
                            <a href="http://ued.taobao.org/blog/" title="淘宝UED" target="_blank">淘宝UED</a>
                            <a href="http://www.zhangxinxu.com/wordpress/" title="鑫空间" target="_blank">鑫空间</a>
                            <a href="http://www.ruanyifeng.com/blog/" title="阮一峰" target="_blank">阮一峰</a>
                            <a href="http://stackoverflow.com//" title="stackoverflow" target="_blank">stackoverflow</a>
                        </div>
                    </div>
                    <!-- end widget -->
                </div>
                <!-- end third footer widget area -->
            </div>
        </div>
    </footer>
    <!-- end main-footer -->
    <!-- start copyright section -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    Copyright &copy; 2014, <a href="/">{{@blog.title}}</a>.  All Right Reserved
                </div>
            </div>
        </div>
    </div>
    <!-- end copyright section -->

    <!--back to top-->
    <a href="#" id="back-to-top" title="Back to Top"><i class="fa fa-angle-up"></i></a>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    <script src="{{asset "js/highlight.pack.js"}}"></script>
    <script src="{{asset "js/main.js"}}"></script>
    <!-- Add your analytic code below -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54889743-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>
