{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

    <!-- start post -->
    <article id="{{id}}" class="post tag-feature tag-getting-started {{#if featured}}featured{{/if}}">
        {{!-- 星标 --}}
        {{#if featured}}
        <div class="featured">
            <i class="fa fa-star"></i>
        </div>
        {{/if}}
        {{!-- 标题 --}}
        <div class="post-head">
            <h2 class="post-title">{{{title}}}</h2>
            <div class="post-meta">
                <span class="author">By {{author}}</span> •
                <span class="date">{{date format="MMMM DD, YYYY"}}</span> •
                <span class="comment-count"><a href="#ds-thread"><span class="ds-thread-count" data-thread-key="{{id}}" data-count-type="comments">No Comments</span></a></span>
            </div>
        </div>
        {{!-- 文章图片 --}}
        {{#if image}}
        <div class="featured-media">
            <a href="{{url}}"><img src="{{image}}" alt="{{{title}}}"></a>
        </div>
        {{/if}}
        {{!-- 内容 --}}
        <div class="post-content">
            {{content}}
        </div>
        {{!-- 前一篇和后一篇 --}}
        <nav class="row">
            {{#if previous}}
            <div class="col-md-6">
                <a href="{{previous.url}}" title="Previous Post"><i class="fa fa-chevron-left"></i> {{previous.title}}</a>
            </div>
            {{/if}}
            {{#if next}}
            <div class="col-md-6" style="text-align:right; float: right">
                <a href="{{next.url}}" title="Previous Post">{{next.title}} <i class="fa fa-chevron-right"></i></a>
            </div>
            {{/if}}
        </nav>
        {{!-- 标签和分享 --}}
        <footer class="post-footer clearfix">
             <div class="pull-left tag-list">
                <i class="fa fa-folder-open-o"></i>
                {{tags}}
            </div>
            <div class="pull-right share">
                <ul class="share-icons">
                    <!-- twitter -->
                    <li>
                        <a href="https://twitter.com/share?text=I find a good post, {{title}}&url={{@blog.url}}{{url}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a>
                    </li>
                    <!-- facebook -->
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{@blog.url}}{{url}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a>
                    </li>
                    <!-- google plus -->
                    <li>
                        <a href="https://plus.google.com/share?url={{@blog.url}}{{url}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <!-- weibo -->
                    <li>
                        <a href="http://service.weibo.com/share/share.php?url={{@blog.url}}{{url}}&title=我看到了一篇不错的文章-《{{title}}》" onclick="window.open(this.href, 'weibo-share', 'width=490,height=530');return false;"><i class="fa fa-weibo"></i></a>
                    </li>
                    <!-- weixin -->
                    <li>
                        <a href="http://share.v.t.qq.com/index.php?c=share&a=index&url={{@blog.url}}{{url}}&title=我看到了一篇不错的文章-《{{title}}》" onclick="window.open(this.href, 'weibo-share', 'width=490,height=530');return false;"><i class="fa fa-tencent-weibo"></i></a>
                    </li>
                </ul>
            </div>
        </footer>
    </article>

    <!-- start about the author -->
    {{#author}}
    <div class="about-author clearfix">
        <a href="/author/{{slug}}/">
            {{#if image}}<img src="{{image}}" alt="Author image" class="avatar pull-left">
            {{else}}<img src="/shared/img/user-image.png" alt="Author image" class="avatar pull-left">{{/if}}
        </a>
        <div class="details">
            <div class="author">
            About <a href="/author/{{slug}}/">{{name}}</a>
            </div>
            <div class="meta-info">
                {{#if location}}<span class="loaction"><i class="fa fa-home"></i>{{location}}</span>{{/if}}
                {{#if website}}<span class="website"><i class="fa fa-globe"></i><a href="{{website}}" targer="_BLANK">Website</a></span>{{/if}}
            </div>
            {{#if bio}}<div class="bio">{{bio}}</div>{{/if}}
        </div>
    </div>
    {{/author}}
    <!-- end about the author -->

    {{!-- 网易云音乐 --}}
    <div class="music-wrap">
        <a href="javascript:;"><i class="fa fa-music"></i></a>
        <div class="music-panel" hidden>
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=450></iframe>
        </div>
    </div>

    {{!-- 目录 --}}
    <script src="{{asset "js/post.js"}}"></script>

    <div class="comment-wrap">
        <div class="comments">
            <style>
                #ds-smilies-tooltip, #ds-smilies-tooltip::before,#ds-smilies-tooltip::after, #ds-smilies-tooltip *, #ds-smilies-tooltip *::before,#ds-smilies-tooltip *::after{
                    box-sizing: content-box;
                    -webkit-box-sizing: content-box;
                    -moz-box-sizing: content-box;
                }
            </style>
            <!-- 多说评论框 start -->
            <div id="ds-thread" class="ds-thread" data-thread-key="{{id}}" data-title="{{title}}" data-url="{{@blog.url}}/{{slug}}"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"lwlblog"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                     || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->
        </div>
    </div>

{{/post}}
